<div class='center'><button class='btn btn-primary btn-large'>Email Recipe!</button>  <button class='btn btn-primary btn-large'>Print Recipe!</button></div> 
<hr></hr>
	<h2><%= @recipe.name %></h2>
<hr></hr>
<div class='container center'>
	<%=image_tag("#{@recipe.id}.jpg", :width=>'400px') %>
</div>
<hr></hr>
<h2>INGREDIENTS</h2>
<div class='container'>
	<ul id='ingredient-list'>
		<% @ingredients.each do | ingredient | %>
		<li><%= ingredient %></li>
		<% end %>
	</ul>
</div>
<br />
<div class='small-container span8'>
	<h2> INSTRUCTIONS </h2>
	<p><%= @recipe.recipe %></p>
</div>
<div class='center'><button class='btn btn-primary btn-large'>Email Recipe!</button>  <button class='btn btn-primary btn-large'>Print Recipe!</button></div> 
