<%= provide(:title, 'Sign up') %>
<h1>Welcome to Olympian Kitchen!</h2>
<div class='container'>
		<div class='span5 hero-unit'>
			<p>Bacon ipsum dolor sit amet jowl sirloin meatball leberkas sausage ground round turducken ham spare ribs bresaola short loin pig. Chicken turkey pork loin, sirloin turducken hamburger prosciutto doner ground round t-bone pastrami chuck boudin. Short loin beef ribs t-bone, corned beef meatloaf pig drumstick filet mignon tail bresaola. Pork loin tri-tip ribeye prosciutto t-bone chuck pastrami sausage strip steak ball tip. Turducken filet mignon flank tongue frankfurter spare ribs. Hamburger pork chop bresaola meatloaf shoulder leberkas jowl ham hock chicken tri-tip. Chicken turducken pork belly bresaola corned beef, tail bacon strip steak tri-tip.</p>
		</div>
		<div class='span3'>	
			<h2>Get Some Grub!</h2>
			<%= render 'signup_form' %>
		</div>
</div>


